<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | RustyBrains</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="assets/css/colors.css"/>
        <link rel="stylesheet" href="assets/css/base.css"/>
    </head>

    <body>
        <header>
            <div class="uk-navbar-container uk-padding" uk-navbar>
                <div class="uk-navbar-center">
                    <h1 class="uk-heading-large uk-margin-remove">
                        <a href="/" class="">RustyBrains</a>
                    </h1>
                </div>
            </div>
        </header>



        <div class="uk-container uk-container-large uk-margin-xlarge">
            {% block container %}{% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
    </body>
</html>
